@charset "UTF-8";

*{
    padding: 0%;
    margin: 0%;
}

body, html{
    width: 100vw;
    height: 100vh;
}

body{
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-attachment: fixed;
    overflow: hidden;
}



section#phone{
    position: absolute;
    background-color: rgb(232, 137, 11);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 322px;
    height: 643px;
    background: url( ../imagens/novo-iphone13.png) no-repeat;
    
    
    
}

iframe#Screen{
    position: relative;
    top: 3%;
    left: 5%;
    width: 289px;
    height: 608px;
    border-radius: 27px;
    
}


section#social-media{
    float: right;
    margin-right: 25px;
    
}

.social{
    border-radius: 50%;
    width: 50px;
    display: block;
    margin-top: 20px;
}

.social:hover{
    border: 2px solid rgb(232, 232, 164);
    
}

